<html lang="en">
 <head>
  <meta charset="utf-8">
  <title>{{page_title}}</title>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>

  <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.css" type="text/css"/>
  <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.js"></script>
 {{script|safe}}
 </head>

 <body>
<body>
<ul>
  <li><a href="/poverty_health">Poverty and health</a></li>
  <li><a href="/vendor_availability">Vendor availability</a></li>
  <li><a href="/predict_obesity">Predict obesity</a></li>
  <li><a href="/food_choice">Food choice</a></li>
</ul>
</body> 

<div class='bokeh'>
 {{div|safe}}
 </div>
 </body>
</html>
